
:root {
    --verde-oliva: #7c835f;
    --verde-claro: #c0c3ac;
    --crema: #e8e7e2;
    --gris-oscuro: #403d39;
    --beige-verdoso: #8a8774;
    --gris-verdoso: #b9b8a2;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--crema);
    color: var(--gris-oscuro);
}

header {
    background-color: var(--verde-oliva);
    padding: 1rem;
    text-align: center;
}

header img {
    height: 60px;
}

main {
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: var(--beige-verdoso);
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: 0.9rem;
}
